.versions-panel-container {

}

.versions-panel-container input {

}

.versions-panel-container label {

}

.versions-panel-container .versions-panel-list {

}

.versions-panel-container .versions-panel-list a,
.versions-panel-container .versions-panel-list span {
  display: inline-block;
  padding: 0.25em;
  margin: 0 1px 0 0;
}

.versions-panel-container .versions-panel-list a {
}

.versions-panel-container .versions-panel-list span {
}
