#addon-version-history {
  padding: 0;
  margin: 0;
  color: rgb(68, 68, 68);
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco",
    Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 15px;
}

#addon-version-history .dropbtn {
  cursor: pointer;
  padding: 0.3em;
  border: 1px solid rgb(236, 236, 236);
  background: rgb(255, 255, 255);
  margin: 0 0.5em 0 0;
  color: rgb(68, 68, 68);
}

#addon-version-history .dropdown {
  position: relative;
  display: inline-block;
}

#addon-version-history .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#addon-version-history .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#addon-version-history .dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
#addon-version-history .dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#addon-version-history .dropdown:hover .dropbtn {
  color: rgb(247, 247, 247);
  background: rgb(68, 68, 68);
}
